<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="html 5 template, cleaning service template, cleaning template, cleaning company template">
	<meta name="author" content="tonytemplates.com">
	<meta name="format-detection" content="telephone=no">
	<link rel="icon" href="favicon.ico">
	<title>Cleaning Services - HTML Website Template - Home Page</title>
	<script>if ( top !== self && ['iPad', 'iPhone', 'iPod'].indexOf(navigator.platform) >= 0 ) top.location.replace( self.location.href );</script>
	<!-- Vendors -->
	<link href="css/vendor/bootstrap.min.css" rel="stylesheet">
	<link href="css/vendor/animate.min.css" rel="stylesheet">
	<link href="css/vendor/slick.css" rel="stylesheet">
	<link href="css/vendor/lightbox.css" rel="stylesheet">
	<link href="css/vendor/bootstrap-datetimepicker.css" rel="stylesheet">
	<link href="css/vendor/nouislider.css" rel="stylesheet">
	<!-- Template Style -->
	<link href="css/custom.css" rel="stylesheet">
	<!-- Icon Font-->
	<link href="fonts/icomoon/style.css" rel="stylesheet">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">