
    
 <main class="page-main">
        <!-- Breadcrumbs Block -->
        
            <div class="container">
                <ul>
                    <li><a href="/">Home</a></li>
                </ul>
                <div class="row clearfix">
                <div class="title-column col-md-6 col-sm-8 col-xs-12">
                    <h1>404 Error</h1>
                </div>
                </div>
            </div>
       



    <section class="eror-section">
        <div class="auto-container">
            <h4>Oops! Page Not Found</h4>
            <a href="/" class="theme-btn btn-style-one"><span class="fa fa-home"></span>&ensp; BACK TO HOME</a>
        </div>
    </section>   





