<main class="page-main">
		<!-- Breadcrumbs Block -->
		<div class="block breadcrumbs">
			<div class="container">
				<ul class="breadcrumb">
					<li><a href="/">Home</a></li>
					<li>Blog Post</li>
				</ul>
			</div>
		</div>

    <div class="container">
    <div class="row">
    <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
     <div class="blog-content"> 
       <div class="image-box">
         <img src="/images/content/service-img-2.jpg" alt"" />
       </div>
       <div class="lower-content">
        <h3><%= blog.title %></h3>
        <div class="text-block text-justify">
         <p><%- blog.content %></p>
        </div>
       </div>

     </div>
    </div>

</main>
